@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import "./variables.css";
html{
    overflow-x: hidden;
   

}

.primary-color-text{
    color: var(--primary-green);

}

body{font-family: 'Helvetica Neue', sans-serif;

    

}


a,button{
    font-family: inherit;
}


.green-btn{
    padding: 8px;
    width: 50%;
   
    background-color: var(--primary-green);
    border-radius: 30px;
    color: white;
}




.global-nav{
    overflow: hidden;
    background-color: var(--secondary-color);
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    
    z-index: 100;
}
.header-nav{
    min-width: 100%;
    justify-content: space-between;
    padding: 16px 120px;
    border-bottom: 1px solid rgb(214, 212, 212);
    
}

.header-gap a{
    margin: 0 12px;
}


.bg-green{
    background-color: var(--primary-green);
}



.custom-shape-divider-bottom-1697802524 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1697802524 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 171px;
}

.custom-shape-divider-bottom-1697802524 .shape-fill {
    fill: #F91543;
}
