@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,600&display=swap');

html{
    overflow-x: hidden;
}


body{
    font-family: 'Poppins', sans-serif;
}
   

a,button{
    font-family: inherit;
}


.blue-btn{
    padding: 8px;
    width: 50%;
    font-weight: 600;
    background-color: #152151;
    border-radius: 5px;
    color: white;
}
.global-nav{
    overflow: hidden;
    
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    background-color: rgb(249,250,251);
    
}
.header-nav{
    min-width: 100%;
    justify-content: space-between;
    padding: 16px 120px;
    border-bottom: 1px solid rgb(214, 212, 212);
    
}

.header-gap a{
    margin: 0 12px;
}