@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
html{
    overflow-x: hidden;
   

}


body{font-family: 'Helvetica Neue', sans-serif;

    

}


a,button{
    font-family: inherit;
}


.green-btn{
    padding: 8px;
    width: 50%;
   
    background-color: var(--primary-green);
    border-radius: 30px;
    color: white;
}


.global-nav{
    overflow: hidden;
    background-color: #E7F4ED;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    
    z-index: 100;
}
.header-nav{
    min-width: 100%;
    justify-content: space-between;
    padding: 16px 120px;
    border-bottom: 1px solid rgb(214, 212, 212);
    
}

.header-gap a{
    margin: 0 12px;
}