@import url(./base.css);
@import url(./variables.css);
.create-post-container {
  
  border: 1px solid var(--border);
  padding: 24px;
  width: 100%;
  margin-bottom: 10px;

  border-radius: 10px;
  
}
.create-post-uploads label {
    margin-left: 50px;
}
.create-post-container textarea {
  width: 100%;
  overflow-y: hidden;
  padding: 4px;
  border: 1px solid rgb(189, 188, 188);
}

.create-post-uploads{
    justify-content: space-between;
}

.create-post-uploads button{
    margin-top: 12px;
    background-color: var(--primary-green);
    color: white;
    border-radius: 10%;
    border: 1px solid transparent;
    transition: 0.3s all ease;
    cursor: pointer;

}

.create-post-uploads button:hover{
   
        background-color: white;
        color: var(--primary-green);
        border: 1px solid var(--primary-green);
}




.create-post-uploads path{
    color: var(--primary-green);

    
}

.create-post-uploads .info-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s all ease;
    
    
}

.create-post-uploads .info-icon:hover{
    
    transform: scale(1.1);
}


.avatar-and-textarea {
    margin-bottom: 7px;
  justify-content: center;
  align-items: center;


}

.avatar-and-textarea textarea {
    margin-left: 7px;
    

}