.left-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 80vh;
  top: 16%;
  left: 10%;
}

.search-input {
  padding: 8px;
  border-radius: 15px;
  border: 1px solid var(--primary-green);
  text-align: center;
}

.search-input:focus {
  outline: 2px solid var(--primary-green) !important;
}

.left-menu-item {
  border-radius: 24px;
  margin-top: 12px;
  text-align: left;
  justify-content: flex-start;
  cursor: pointer;
  align-items: center;
}

.left-menu-item-selected h1 {
  font-weight: 700;
}

.left-menu-item:hover {
  background-color: rgb(240, 239, 239);
}
.left-menu-item svg {
  width: 32px;
}

.left-menu-item h1 {
  margin-left: 8px;
  font-size: 26px;
}

.left-menu-avatar-div h2 {
  margin-left: 16px;
}

.left-menu-avatar-div .unique-name {
  color: rgb(143, 141, 141);
}
.left-menu-avatar-div .user-name {
  font-weight: 700;
}

.left-menu-mobile {
  display: none;
  position: fixed;
  width: 80%;
  height: 100%;
  top: 0;
  left: -80%;
  background-color: white;
  z-index: 99999;
  transition: all 0.5s ease-in-out;
}
.left-menu-toggle-avatar {
  display: none;
}
@media screen and (max-width: 1275px) {
  .left-menu-avatar-div {
    display: none;
  }
  .left-menu-item {
    margin: 24px;

    svg {
      height: 24px;
    }
  }

  .left-menu-item:hover {
    background-color: transparent;
  }

  .left-menu-item h1 {
    display: none;
  }
}
@media screen and (max-width: 1125px) {
  .close-menu-button {
    width: 100%;

    display: flex;
    justify-content: end;
    h2 {
      font-size: 2rem;
      padding-right: 1.5rem;
      padding-top: 1.1rem;
    }
  }
  
  .left-menu {
    display: none !important;
  }

  .left-menu-avatar-div {
    display: flex;
    padding-left: 1.5rem;
    position: fixed;
    bottom: 3%;
  }
  .left-menu-item h1 {
    display: block;
  }

  .left-menu-mobile {
    display: block;
  }

  .left-menu-open {
    left: 0;
  }
  .backdrop {
    background: hsl(0 0% 0% / 50%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
  }

  .backdrop-open {
    display: block;
  }

  .left-menu-toggle-avatar {
    display: block;
    position: fixed;
    top: 2%;
    left: 6%;
    z-index: 999;
  }
}
