.profile-img {
  border-radius: 50%;
  
  border: 1px solid rgba(0, 0, 0, 0.144);
  margin-right: 2rem;
  margin-top:1rem;
}

.profile-header {
   width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
  margin-bottom: 4px;
  padding-bottom: 30px;

  border: 1px solid var(--border);
    border-radius: 10px;

}
.name-follow {
  display: flex;
 
  
  
}

.name-follow button {
  font-size: 16px;
  font-weight: 700;
  border: 1px solid;
  padding: 8px;
  z-index: 1;
  width: 100px;
  
  
}
.follow-btn button{
  transition: 0.3s all ease;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid var(--primary-green);
  padding: 8px;
  z-index: 1;
  width: 100px;
  margin-left: 20px;
  text-align: center;
  border-radius: 15px;

  
}

.followed{
  background-color: white;
  color: var(--primary-green);
}
.followed:hover{
  background-color: var(--primary-green);
  color: white;
}
.not-followed{
  background-color: var(--primary-green);
  color: white;
}
.not-followed:hover{
  background-color: white;
  color: var(--primary-green);

}



.name-bio {
  display: flex;
  flex-direction: column;
  
  
  
  h1 {
    font-size: 30px;
    font-weight: 700;
    width: max-content;
    
    
    
  }
  h2 {
    max-width: 370px;
    font-size: 20px;
   
    overflow-wrap: break-word;
  }
}
.more-info{
  width: 100%;
}


.more-info ul {
  display: flex;
  width: 100%;
 align-items: center;
 margin-bottom: 12px;
  
}

.more-info li {
  display: flex;
  margin-top: 8px;
 margin-right: 4px;
}

.followers ul {
  display: flex;
  width: 100%;
}

.followers-comp {
  display: flex;
  flex-direction: column;

  margin: 0 20px;

  p {
    font-weight: 500;
    text-align: center;
  }

  strong {
    font-size: 32px;
    font-weight: 800;
  }
}

.info-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  color: var(--primary-green);
}

.avatar-and-name-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.profile-posts {
  width: 100%;
}

@media only screen and (max-width: 768px)

{
  .avatar-and-name-div {
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }

.profile-img {
  margin: 0;
}

.name-bio h1 {
 font-size: 20px;
}

.name-username {
  width: 200px;
}
.name-username h1 {
  width: max-content;
  max-width: 100%;
  word-wrap: break-word;
}
.profile-header {
  width: 100%;
margin-top: 30px;

}
.profile-posts {
  width: 100%;
}

.profile-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}

