.profile-img {
  border-radius: 50%;
  margin-left: 5%;
  border: 1px solid rgba(0, 0, 0, 0.144);
}

.profile-header {
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 3%;
  margin-bottom: 4px;
  padding-bottom: 30px;
 border-bottom: 1px solid var(--border);
}
.name-follow {
  display: flex;
  align-items: center;
  text-align: center;
  
}

.name-follow button {
  font-size: 16px;
  font-weight: 700;
  border: 1px solid;
  padding: 8px;
  z-index: 1;
  width: 100px;
  
  
}
.follow-btn button{
  
  font-size: 16px;
  font-weight: 700;
  border: 3px solid var(--primary-green);
  padding: 8px;
  z-index: 1;
  width: 100px;
  margin-right: 32px;
  text-align: center;
  border-radius: 15px;

  
}

.name-bio {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  
  h1 {
    font-size: 30px;
    font-weight: 700;
    width: max-content;
    text-align: left;
    
    
    
  }
  h2 {
    font-size: 20px;
    text-align: left;
  }
}
.more-info{
  width: 100%;
}


.more-info ul {
  display: flex;
  width: 100%;
}

.more-info li {
  display: flex;
  margin-top: 8px;
 margin-right: 4px;
}

.followers ul {
  display: flex;
  width: 100%;
}

.followers-comp {
  display: flex;
  flex-direction: column;

  margin: 0 20px;

  p {
    font-weight: 500;
    text-align: center;
  }

  strong {
    font-size: 32px;
    font-weight: 800;
  }
}

.info-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  color: var(--primary-green);
}
