.follow-list-div {
    width: 650px;
    border: 1px solid rgb(226, 222, 222);
    border-top:0;
    border-bottom: 0;
    height: 100vh;
 justify-content: flex-start;
 display: flex;
}

.search-input {
    width: 80%;
    margin-bottom: 24px;
}
.follow-list-div form {
    width: 100%;
}

.comically-large-h1 {
    font-size: 28px;
    margin-top: 200px;
}